<h1 style="color: red; background:black; ">Chat With Angular</h1>
<div>
  <h2 >Message group: </h2>
  <div *ngFor="let item of messageList">
<div>
  <div class="username">{{item.name}}</div>
  <div>{{item.text}}</div>
  <div>{{item.date | date:'hh:mm a'}}</div>


</div>
  </div>
</div>

<div>
  <h2>Write your message: </h2>
  <form [formGroup]="modelForm">
    <input formControlName="message"  type="text" name="message" id="message">
    <button type="button" [disabled]="modelForm.invalid"  class="btn btn-primary" (click)="send()">Enviar </button>
  </form>
</div>
